body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.container {
    border: 2px solid #333;
    padding: 20px;        
    margin: 10px;       
    border-radius: 10px; 
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

h1 {
    font-size: 2rem;
    margin-bottom: 10px;
    color: #333;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #555;
}

.button-container {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.save-container {
    display: flex;
    gap: 5px;
    align-items: center;
}

#increment-btn {
    background: darkred;
}

#save-btn {
    background: darkgreen;
}